.container {
  display: block;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  font-size: 40px;
  letter-spacing: 0.3em;
  display: flex;
  flex-direction: column;
  .component {
    margin-top: 32px;
  }
  h1 {
    font-size: 72px;
    margin: 0;
  }
  .picture {
    max-width: 100%;
    display: flex;
    gap: 48px; // 画像の間に20pxの間隔を空ける
  }
}
