.container {
  margin: 0;
  padding: 0;


  .component {
    margin-bottom: 300px;
  }
}

/*メディアクエリ*/
/*タブレット*/
@media screen and (max-width: 1000px) {
  .container {
    .component {
      margin-bottom: 240px;
    }
  }
}

/*スマホ*/
@media (max-width: 600px) {
  .component {
    margin-bottom: 160px;
  }
}
